
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Mercado Liebre</title>
</head>
<header>
<img src="/images/logo-mercado-liebre.svg">
</header>
<p>
    Buscar productos, marcas y más

</p>
<p>
Comprá en cuotas y sin tarjeta de crédito

</p>
<nav>
    <ul>
        <li> <a href=#> Ofertas </a> </li>
        <li> <a href=#> Tiendas oficiales </a> </li>
        <li> <a href=#>Vender </a> </li>
        <li> <a href=#> Ayuda </a> </li>
        
    </ul>
</nav>

<nav>
    <ul>
        <li> <a href=#>  Creá tu cuenta  </a> </li> 
        <li> <a href=#>  Ingresá </a> </li>
        <li>  <a href=#>  Mis compras </a></li>        
    
    </ul>

</nav>
<div>
  <img src="/images/img-home-banner.jpg">  
</div>
<div>
<h2> Basado en tu última visita</h2>
<h3> Productos </h3>
  <div>
      <img src="/images/img-cafetera-moulinex.jpg">
      <p>$6.770 </p>
     <p> 40% OFF </p>
     <h5> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h5>     
  </div>

  <div>
    <img src="/images/img-macbook-pro-2019.jpg">
    <p>$230.000 </p>
   <p> 20% OFF </p>
   <h5> Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h5>     
</div>

<div>
    <img src="/images/img-samsung-galaxy-s10.jpg">
    <p>$70.500 </p>
   <p> 15% OFF </p>
   <h5> Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h5>     
</div>

<div>
    <img src="/images/img-tv-samsung-smart.jpg">
    <p>$34.00 </p>
   <p> 5% OFF </p>
   <h5> SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h5>     
</div>

<h3> Ofertas </h3>
  <div>
      <img src="/images/img-cafetera-moulinex.jpg">
      <p>$6.770 </p>
     <p> 40% OFF </p>
     <h5> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h5>     
  </div>

  <div>
    <img src="/images/img-macbook-pro-2019.jpg">
    <p>$230.000 </p>
   <p> 20% OFF </p>
   <h5> Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h5>     
</div>

<div>
    <img src="/images/img-samsung-galaxy-s10.jpg">
    <p>$70.500 </p>
   <p> 15% OFF </p>
   <h5> Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h5>     
</div>

<div>
    <img src="/images/img-tv-samsung-smart.jpg">
    <p>$34.00 </p>
   <p> 5% OFF </p>
   <h5> SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h5>     
</div>




</div>
<footer>
<div>
    <h5>Pagá con tarjeta o en efectivo </h5>
    <p>
    Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
    pago. ¡Y siempre es seguro! </p>
  </div>  
  <div>
    <h5>Envío gratis desde los $ 2.500 </h5>
    <p>
    Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
    productos. Es un beneficio de MercadoPuntos.</p>
    <div>
    <h5>Seguridad, de principio a fin </h5>
    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
    porque estás siempre prtegid@. </p>
    </div>
    Copyright © 1999-2019 MercadoLiebre S.R.L.

</footer>