
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device, initial-scale=1">
<title> Mercado Liebre</title>

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<div class="inicio">
<header>
<img src="/images/logo-mercado-liebre.svg">
</header>
<p class=>
    Buscar productos, marcas y más
 
</p>
<p>
    <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito

</p>
<nav>
    <ul>
        <li> <a href=#> Ofertas </a> </li>
        <li> <a href=#> Tiendas oficiales </a> </li>
        <li> <a href=#>Vender </a> </li>
        <li> <a href=#> Ayuda </a> </li>
        
    </ul>
</nav>

<nav>
    <ul>
        <li> <a href=#>  Creá tu cuenta  </a> <i class="fas fa-address-card"></i> </li> 
        <li> <a href=#>  Ingresá </a>  <i class="fas fa-sign-in-alt"></i>  </li>
        <li>  <a href=#>  Mis compras </a> <i class="fas fa-shopping-basket"></i>  </li>  
    
    </ul>

</nav>
</div>
<div>
  <img src="/images/img-home-banner.jpg">  
</div>

<div class="titulo-galeria">    
<h2> Basado en tu última visita</h2>
<h3> Productos </h3>
</div>
  <div class="productos">
      <img src="/images/img-cafetera-moulinex.jpg">
      <div> <a href=#><i class="fas fa-truck entrega"></i> </a> </div>
      <p>$6.770 </p>
     <p class="oferta"> 40% OFF </p>
     <h5> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h5>     
  </div>

  <div class="productos">
    <img src="/images/img-macbook-pro-2019.jpg">
    <div> <a href=#><i class="fas fa-truck entrega"></i> </a> </div>
    <p>$230.000 </p>
   <p class="oferta"> 20% OFF </p>
   <h5> Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h5>     
</div>

<div class="productos">
    <img src="/images/img-samsung-galaxy-s10.jpg">
    <div> <a href=#><i class="fas fa-truck entrega"></i> </a> </div>
    <p>$70.500 </p>
   <p class="oferta"> 15% OFF </p>
   <h5> Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h5>     
</div>

<div class="productos">
    <img src="/images/img-tv-samsung-smart.jpg">
    <div> <a href=#><i class="fas fa-truck entrega"></i> </a> </div>
    <p>$34.00 </p>
   <p class="oferta"> 5% OFF </p>
   <h5> SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h5>     
</div>

<h3> Ofertas </h3>
  <div class="productos">
      <img src="/images/img-cafetera-moulinex.jpg">
      <div> <a href=#><i class="fas fa-truck entrega"></i> </a> </div>
      <p>$6.770 </p>
     <p class="oferta"> 40% OFF </p>
     <h5> Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h5>     
  </div>

  <div class="productos">
    <img src="/images/img-macbook-pro-2019.jpg">
    <div> <a href=#><i class="fas fa-truck entrega"></i> </a> </div>
    <p>$230.000 </p>
   <p class="oferta"> 20% OFF </p>
   <h5> Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h5>     
</div>

<div class="productos">
    <img src="/images/img-samsung-galaxy-s10.jpg">
    <div> <a href=#><i class="fas fa-truck entrega"></i> </a> </div>
    <p>$70.500 </p>
   <p class="oferta"> 15% OFF </p>
   <h5> Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h5>     
</div>

<div class="productos">
    <img src="/images/img-tv-samsung-smart.jpg">
    <div> <a href=#><i class="fas fa-truck entrega"></i> </a> </div>
    <p>$34.00 </p>
   <p class="oferta"> 5% OFF </p>
   <h5> SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h5>     
</div>




</div>
<footer>
<div>
  
    <i class="fas fa-money-check fic"></i>
    <h5>Pagá con tarjeta o en efectivo </h5>
    <p>
    Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
    pago. ¡Y siempre es seguro! </p>
  </div>  
  <div>
    <i class="fas fa-gift fic"></i>
    <h5>Envío gratis desde los $ 2.500 </h5>
    <p>
    Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
    productos. Es un beneficio de MercadoPuntos.</p>
    <div>
    <i class="fas fa-user-shield fic"></i>
    <h5>Seguridad, de principio a fin </h5>
    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
    porque estás siempre prtegid@. </p>
    </div>
    Copyright © 1999-2019 MercadoLiebre S.R.L.

</footer>